<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
        
        <style>
             body {
                background-color: lightgrey;
                font-family: 'Poppins', sans-serif;
            }
            title, h1, h2, h3, h4, h5, h6 {
                color: blue;
            }
        </style>
    </head>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'recipes:index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><a href="{% url 'recipes:add_recipe' %}">Add Recipe</a></li>
                <li><a href="{% url 'recipes:logout' %}">Logout</a></li>
                {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'recipes:register' %}">Sign Up</a></li>
                <li><a href="{% url 'recipes:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block extra_scripts %}{% endblock %}
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>

    <footer>
        {% block footer_block %}
            Web App Development Group Project Team 7 
        {% endblock %}
    </footer>
</html>