<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <header>
        <nav class="navbar">
            <ul>
                <li><img src="{% static 'images/recipeicon.png' %}" alt="My recipes Icon" width="75" height="75"/></li>
                <li class="navbar-title">Snack Overflow</li>
                <li><a href="{% url 'recipes:index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><a href="{% url 'recipes:add_recipe' %}">Add Recipe</a></li>
                <li><a href="{% url 'recipes:logout' %}">Logout</a></li>
                {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'recipes:register' %}">Sign Up</a></li>
                <li><a href="{% url 'recipes:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block extra_scripts %}{% endblock %}
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>

    <footer>
        {% block footer_block %}
            <p class="footer-content">Web App Development Group Project Team 7 </p>
        {% endblock %}
    </footer>
</html>