<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<!-- TODO should change depending on name of category -->
<h1>Category Name</h1>

<div>
    <ul>
        <li><img src="{% static '' %}"
                 alt="recipe Icon" width="75" height="75"/><br>
            <h3>recipe name</h3></li>
        <li><img src="{% static '' %}"
                 alt="recipe Icon" width="75" height="75"/><br>
            <h3>recipe name</h3></li>
        <li><img src="{% static '' %}"
                 alt="recipe Icon" width="75" height="75"/><br>
            <h3>recipe name</h3></li>
        <li><img src="{% static '' %}"
                 alt="recipe Icon" width="75" height="75"/><br>
            <h3>recipe name</h3></li>
        <li><img src="{% static '' %}"
                 alt="recipe Icon" width="75" height="75"/><br>
            <h3>recipe name</h3></li>
    </ul>
</div>

<h3>Other Categories</h3>
<ul>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
</ul>


</body>
</html>