<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<!-- TODO should change depending on name of category -->
<h1>Category Name</h1>

<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{% url 'recipes:recipe_detail' category.slug page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'recipes:add_recipe' category.slug page%}">Add Page</a> <br />
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
</div>

<h3>Other Categories</h3>
<ul>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
    <li>Category Name</li>
</ul>


</body>
</html>