{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="categories-container">
        <ul class="categories-list">
            {% if categories %}
                {% for c in categories %}
                    {% if c == current_category %}
                    <li>
                    <strong>
                        <a href="{% url 'recipes:category' c.slug %}">{{ c.name }}</a>
                    </strong>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'recipes:category' c.slug %}">{{ c.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    
    
{% endblock %}
