<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<!-- TODO should change depending on name of recipe -->
<h1>Recipe Name</h1>
<!-- TODO load image of recipe -->
<img src="{% static '' %}"
     alt="add recipe Icon" width="75" height="75"/><br><br>

<h3>Rate Recipe</h3>
<div>
    <form id="rating_form" method="post" action="{% url 'recipes:rate' %}">
        <input type="radio" id="1" name="1" value="1">
        <label for="1">1</label><br>
        <input type="radio" id="2" name="2" value="2">
        <label for="2">2</label><br>
        <input type="radio" id="3" name="3" value="3">
        <label for="3">3</label><br>
        <input type="radio" id="4" name="4" value="4">
        <label for="4">4</label><br>
        <input type="radio" id="5" name="5" value="5">
        <label for="5">5</label><br><br>
        <input type="submit" value="Submit">
    </form>
</div>


</body>
</html>