<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<h1>Recipe Name</h1>
<!-- TODO load image of recipe -->
<img src="{% static '' %}"
     alt="recipe image" width="75" height="75"/><br>
<h5>Recipe Description</h5>
<h5>Ingredients</h5>
<div>
    <ul>
        <li>ingredient</li>
        <li>ingredient</li>
        <li>ingredient</li>
        <li>ingredient</li>
        <li>ingredient</li>
    </ul>
</div>

<div>
    <h3>save</h3>
    <h3>edit</h3>
    <h3>rate</h3>
    <h3>delete</h3>
    <h3>comment</h3>
</div>

</body>
</html>