{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipe
{% endblock %}


{% block body_block %}
    {% if recipe %}
        <h1 id="recipe-title">{{ recipe.title }}</h1>
        <h3 id="author">By {{ recipe.author }}</h3>
        <h3 id="difficulty">Difficulty: {{ recipe.difficulty }}</h3>
        <img class="recipe-image" src="{{ recipe.image }}" alt="{{ recipe.title }}">
        <div class="description">
            <h3>Description</h3>
            <p> {{ recipe.description }} </p>
        </div>
        <h3>Instructions</h3>
        <p> {{ recipe.instructions }} </p>
        <h3> Rating: {{ recipe.average_rating }} / 5.0</h3>

        {% if user.is_authenticated %}
            <span class="like-count">{{ recipe.total_likes|default:"0" }}</span>
            
            <button class="save-recipe" data-recipe-id="{{ recipe.id }}">Save to My Recipes</button>
            
            <form method="post" action="{% url 'recipes:rate' recipe.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Rate</button>
            </form>
            
            <a href="{% url 'recipes:edit_recipe' recipe.id %}">Edit Recipe</a>
        {% endif %}


    {% else %}
        The specified recipe does not exist.
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}