<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<h1>Sign Up</h1>
<img src="{% static 'images/profileicon.png' %}"
     alt="Profile Icon" width="75" height="75"/>
<div>
    <form action="/action_page.php">
        <label for="uname">Create Username:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="pword">Create Password:</label>
        <input type="text" id="pword" name="pword"><br><br>
        <input type="submit" value="Confirm">
    </form>
</div>


</body>
</html>