<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Snack Overflow</title>
</head>

<body>
<h5>Home</h5>
<!-- TODO should change depending on name of recipe -->
<h1>Recipe Name</h1>
<!-- TODO load image of recipe -->
<img src="{% static '' %}"
     alt="add recipe Icon" width="75" height="75"/><br><br>

<h3>Save Recipe to profile?</h3>
<div>
    <form id="save_form" method="post" action="{% url 'recipes:save' %}">
        <input type="checkbox" id="yes" name="yesbutton" value="Yes">
        <label for="yes"> Yes</label><br>
        <input type="checkbox" id="no" name="nobutton" value="No">
        <label for="no"> No</label><br>
        <input type="submit" value="Submit">
    </form>
</div>


</body>
</html>